/dts-v1/;
#include "rk3188.dtsi"

/ {
	model = "Rockchip example";

	chosen {
		bootargs = "earlyprintk console=ttyS2,115200";
	};

	memory {
		reg = <0x60000000 0x80000000>;
	};

	clocks {
	};

	soc {
		uart0: serial@10124000 {
			status = "okay";
		};

		uart1: serial@10126000 {
			status = "okay";
		};

		uart2: serial@20064000 {
			pinctrl-names = "default";
			pinctrl-0 = <&uart2_xfer>;
			status = "okay";
		};

		uart3: serial@20068000 {
			status = "okay";
		};

		vcc_sd0: fixed-regulator {
			compatible = "regulator-fixed";
			regulator-name = "sdmmc-supply";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			gpio = <&gpio3 7 GPIO_ACTIVE_LOW>;
			startup-delay-us = <100000>;
		};

		dwmmc@10214000 { /* sdmmc */
			num-slots = <1>;
			status = "okay";

			pinctrl-names = "default";
			pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_cd &sd0_bus4>;
			vmmc-supply = <&vcc_sd0>;

			slot@0 {
				reg = <0>;
				bus-width = <4>;
				disable-wp;
			};
		};

		dwmmc@10218000 { /* wifi */
			num-slots = <1>;
			status = "okay";

			pinctrl-names = "default";
			pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4>;

			slot@0 {
				reg = <0>;
				bus-width = <4>;
				disable-wp;
			};
		};

	};
};

